{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="grid-100 mineral__container">
	<h1 class="mineral__name">{{ mineral.name }}</h1>
	<div class="mineral__image-bg">
		<img class="mineral__image" src="{% static 'images' %}/{{ mineral.image_filename }}">
		<p class="mineral__caption">{{ mineral.image_caption }}</p>
	</div>
	<div class="mineral__table-container">
		<table class="mineral__table">
			{% for field, value in mineral.items %}
				{% if field != 'image_filename' and field != 'image_caption' and field != 'name' and field != 'id' and value %}
					<tr>
						<td class="mineral__category">{{ field|title }}</td>
						<td>{{ value }}</td>
					</tr>
				{% endif %}
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}